* {
  box-sizing: border-box;
}

header{
  font-size: 20px;
}

main{
  padding: 20px;
  overflow: auto;
}

body {
  font-family: "Roboto Mono";
  text-align: center;
  margin: 0;
  padding: 0;
}

article{
  flex: 1;
  float: left;
  max-width: 75%;
  margin-right: 20px;
}

aside {
  flex: 0;
  float: right;
  width: 25%;
}

h2,
h3 {
  color: #00a2c6;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}

nav{
  background-color: #00a2c6;
  padding: 5px;
}

nav a{
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

nav ul li {
  display: inline;
  margin: 20px;
  list-style-type: none;
}

.profile header {
  text-align: center;
}

.images{
  width: 70%;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

article{
  max-width: 70%;
  margin: 0 auto;
}

article img{
  max-width: 100%;
  border-radius: 10px;
}

article p{
  width: 100%;
  margin: 20px auto;
  text-align: justify;
}

section{
  text-align: center;
}

section img {
  max-width: 100%;
  border-radius: 10px;
}

section p {
  padding-top: 20px;
  min-height: 100px;
  max-height: 150px;
  overflow: scroll;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 40px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lambang{
  box-shadow: 5px 5px 5px 6px #00a2c6; 
  padding: 20px 0px; 
  border-radius: 20px;
  max-width: 40em;
  margin: 0 auto;
}

.info-lambang {
  text-align: center;
}

.info-lambang table {
  margin: 0 auto;
  text-align: left;
}

.info-lambang table th {
  padding-right: 2em;
}

.info-lambang table th, td {
  font-size: 1.2em;
}

.fot-menu li{
  display: inline;
  padding: 3rem;
  position: relative
}

.fot-menu a{
  text-decoration: none;
  color: #00a2c6
}

.fot-menu a:hover{
  font-weight: bold
}

footer{
  padding: 20px;
  color: white;
  background-color: #00a2c6;
  text-align: center;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#content {
  float: left;
  width: 75%;
}